@import "../Style_variables/vars.scss";
@import "../Style_variables/colors.scss";

#nav-bar {
    display: flex;
    height: $nav-height;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

#nav-logo {
    font-size: 28px;
    padding-left: $common-padding;
}

#nav-menu-button{
    padding-right: $common-padding;
    color: $main;
    &:hover{
        cursor: pointer;
    }
}

#nav-menu-wrapper{
    position: relative;
}

#nav-menu{
    position: absolute;
    right: 0;
    border-bottom: solid 3px $main;

    li{
        width: 100vw;
        max-width: 400px;
        padding: $common-padding;
        padding-left: 0;
        padding-right: 0;
        background-color: $light;
        text-align: center;
        &:hover{
            background-color: $secondary-light;
        }
    }
}