@import "../../Style_variables/colors.scss";
@import "../../Style_variables/vars.scss";

#channels-bar-section {
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    padding: $appComponentPadding;
    background-color: $secondary-light;
}

.channel-list {
    li {
        display: flex;
        flex-direction: row;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        color: $dark;
        font-weight: 600;
        border-radius: 100px;
        &:hover{
            background-color: $main;
            color: $light;
            cursor:pointer;
        }
    }
    .selected {
        background-color: $main;
        color: $light;
    }
}

.text-channel-icon {
    font-size: 20px;
    line-height: 15px;
    font-weight: 1000;
    margin-right: 5px;
}

.text-channel-bar-title {
    letter-spacing: 2px;
    padding-left: 20px;
}

#text-channel-visibility-button {
    position: absolute;
    right: -45px;
    top: 50px;
    padding: 10px;
    background-color: $secondary-light;
    border-radius: 0px 100px 100px 0px;
    &:hover {
        cursor: pointer;
    }
}