@import "../../Style_variables/colors.scss";
@import "../../Style_variables/vars.scss";

#server-bar-section {
    $border-size: 1px;
    padding-top: 7px;

    .btn {
        $size: 15px;
        height: $size;
        min-width: $size;
        line-height: $size;
        text-align: center;
        font-size: 15px;
        border-radius: 2px 2px 0px 0px;
        color: $light;
        font-weight: 600;

        &:hover{
            cursor: pointer;
            color: $main;
            background-color: $light;
        }
    }

    .selected{
        padding-left: 30px;
        padding-right: 30px;
        background-color: $light;
        color: $dark;
        &:hover {
            background-color: $light;
            color: $dark;
        }
    }
}

#server-list {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    // Hide scrollbar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }
}

#new-server-button {
    background-color: $main;
    color: $light;
    &:hover {
        background-color: $secondary;
    }
}